.main_div {
  border: 1px solid #e5e2db;
  width: 25%;
  height: 46rem;
  border-radius: 4%;
  background: linear-gradient(180deg, #ec7c0c 40%, white 40%);
}
.intro {
  color: white;
  margin-left: 3rem;
}

.content {
  border: 1px solid #dfddd9;
  height: 31rem;
  position: relative;
  border-radius: 4%;
  background-color: white;
}

.robo_div {
  width: 20%;
  border-radius: 50%;
  position: relative;
  left: 8%;
  bottom: 8%;
  background-color: #ec7c0c;
}

.robo_icon {
  font-size: 40px;
  width: 100%;
  border-radius: 50%;
  height: 5rem;
  text-align: center;
  color: white;
  line-height: 60px;
}

.fa-question {
  color: #ec7c0c;
}
.heading {
  margin-left: 3rem;
}

.btn-content {
  color: black;
  text-align: left;
  width: 85%;
  height: 3rem;
  border-color: #dfddd9;
  margin-left: 3rem;
}

.fa-circle {
  font-size: 8px;
  color: #ec7c0c;
}

.button_div {
  text-align: center;
}

.button {
  color: black;
  text-align: left;
  width: 70%;
  height: 3rem;
  border-radius: 50px;
  text-align: center;
  border-color: #dfddd9;
}

/******************************************************* MEDIA QUERIES ************************************************/

@media only screen and (max-width: 480px) {
  .main_div {
    width: 95%;
  }
  .intro {
    margin-left: 2rem;
  }
  .btn-content {
    margin-left: 2rem;
    padding-bottom: 1rem;
    font-size: 15px;
  }
  .heading {
    margin-left: 2rem;
  }
  .button {
    font-size: 13px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main_div {
    width: 95%;
  }
  .intro {
    margin-left: 2rem;
  }
  .btn-content {
    margin-left: 2rem;
    padding-bottom: 1rem;
    font-size: 18px;
  }
  .heading {
    margin-left: 2rem;
  }
  .button {
    font-size: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1450px) {
  .main_div {
    width: 45%;
    height: 48rem;
  }
  .content {
    height: 33rem;
  }
  .intro {
    margin-left: 2rem;
  }
  .btn-content {
    margin-left: 2rem;
    padding-bottom: 3rem;
    font-size: 18px;
  }
  .heading {
    margin-left: 2rem;
  }
  .button {
    font-size: 20px;
    margin-bottom: 50rem;
    padding-bottom: 3rem;
  }
}
